[Unit]
Description=Set custom read-ahead on storage device /dev/sda
BindsTo=dev-sda.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/blockdev --setra 8192 /dev/sda

[Install]
WantedBy=multi-user.target
